# Compiled binaries
engine
cpu_hog
memory_hog
io_pulse

# Kernel module build artifacts
*.ko
*.o
*.mod
*.mod.c
*.mod.o
*.order
*.symvers

# Alpine rootfs (large, not needed in repo)
alpine-minirootfs-*.tar.gz*
rootfs-*/
rootfs-base/

# Log files
logs/
*.log

# Backup files
*_back_up*
*.bak
